.container {
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-size: 20px;
}

.header-text h1 {
    font-size: 40px;
    margin-top: -20px;
}

.header-image img {
    max-width: 50%;
    max-height: 50%;
}

#about {
    padding: 80px 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-column {
    flex-basis: 35%;
}

.image-column img {
    width: 100%;
    border-radius: 15px;
}

.text-column {
    flex-basis: 60%;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 25px;
    cursor: pointer;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents span{
    color: green;
    font-size: 15px;
}