* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f7b7ac;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 10px 5%;
}

/* ------------------------ Header section ------------------------ */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #E08C74;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logo {
    font-size: 28px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-size: 20px;
    margin-top: 20px;
}

.header-text h1 {
    font-size: 40px;
    margin-top: 10px;
}

/* ------------------------ Profile/about me section ------------------------ */

#about {
    padding: 30px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-column {
    flex-basis: 35%;
}

.image-column img {
    width: 100%;
    border-radius: 15px;
}

.text-column {
    flex-basis: 60%;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 25px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #625549;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents span{
    color: 625549;
    font-size: 19px;
    font-weight: 600;
    color: black;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ------------------------ Portfolio section ------------------------ */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    color: antiquewhite;
    background: linear-gradient(transparent, #CB7161);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%
}

/* ------------------------ Contact section ------------------------ */

.contact-details p {
    margin-top: 15px;
}

.contact-details i {
    position: relative;
    top: 5px;
    left: 5px;
}

.contact-details p i {
    color: #CB7161;
    margin-right: 15px;
    font-size: 25px;
}

.contact-details a i {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #CB7161;
    transition: transform 0.5s, color 0.5s;
}

.contact-details a i:hover {
    color: #0077b5;
    transform: scale(1.2);
}

.btn {
    display: inline-block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #CB7161;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s;
}

.btn:hover {
    background: #CB7161;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #E08C74;
    color: #fff;
    padding: 20px;
  }