.container {
    padding: 10px 5%;
}

/* ------------------------ Header section ------------------------ */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-size: 20px;
}

.header-text h1 {
    font-size: 40px;
    margin-top: -20px;
}

.header-image img {
    max-width: 50%;
    max-height: 50%;
}

/* ------------------------ Profile/about me section ------------------------ */

#about {
    padding: 80px 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-column {
    flex-basis: 35%;
}

.image-column img {
    width: 100%;
    border-radius: 15px;
}

.text-column {
    flex-basis: 60%;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 25px;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: green;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents span{
    color: green;
    font-size: 15px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ------------------------ Portfolio section ------------------------ */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
 
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    color: antiquewhite;
    background: linear-gradient(transparent, green);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%
}